<a href="https://colab.research.google.com/github/Konstantin5054232/ausbildungsprojekte/blob/main/05_computerspielen_verkaufen/computerspielen_verkaufen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Marktforschung für Computerspiele

Aus offenen Quellen haben wir Zugriff auf historische Daten zu Spieleverkäufen, Benutzer- und Expertenbewertungen, Genres und Plattformen (z. B. Xbox oder PlayStation). Wir müssen Muster identifizieren, die den Erfolg des Spiels bestimmen. Dies ermöglicht es uns, auf ein potenziell beliebtes Produkt zu bieten und Werbekampagnen zu planen.

## Datenexploration

In [6]:
# Wir importieren die notwendigen Bibliotheken
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats as st

In [7]:
# Wir laden Tabellen mit Daten
data = pd.read_csv('/content/games.csv')

In [9]:
# Wir werden die erhaltenen Daten studieren
display(data.info())
display(data.shape)
display(data.head())
display(data.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

None

(16715, 11)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
16710,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,0.00,0.00,0.01,0.0,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006.0,Sports,0.00,0.01,0.00,0.0,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016.0,Adventure,0.00,0.00,0.01,0.0,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.0,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016.0,Simulation,0.00,0.00,0.01,0.0,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [10]:
# Wir werden sehen, welche Werte und in welcher Menge in den einzelnen Spalten der Tabelle stehen.
for column in data.columns:
    display(data[column].value_counts())

Need for Speed: Most Wanted                         12
Ratatouille                                          9
LEGO Marvel Super Heroes                             9
FIFA 14                                              9
Madden NFL 07                                        9
                                                    ..
Jewels of the Tropical Lost Island                   1
Sherlock Holmes and the Mystery of Osborne House     1
The King of Fighters '95 (CD)                        1
Megamind: Mega Team Unite                            1
Haitaka no Psychedelica                              1
Name: Name, Length: 11559, dtype: int64

PS2     2161
DS      2151
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      430
PS4      392
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
NES       98
GB        98
DC        52
GEN       29
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

2008.0    1427
2009.0    1426
2010.0    1255
2007.0    1197
2011.0    1136
2006.0    1006
2005.0     939
2002.0     829
2003.0     775
2004.0     762
2012.0     653
2015.0     606
2014.0     581
2013.0     544
2016.0     502
2001.0     482
1998.0     379
2000.0     350
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      62
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
Name: Year_of_Release, dtype: int64

Action          3369
Sports          2348
Misc            1750
Role-Playing    1498
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       873
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

0.00     4508
0.02      576
0.03      561
0.04      549
0.01      545
         ...
3.68        1
2.98        1
2.61        1
3.04        1
41.36       1
Name: NA_sales, Length: 402, dtype: int64

0.00     5870
0.01     1494
0.02     1308
0.03      926
0.04      709
         ...
1.87        1
1.75        1
1.44        1
1.60        1
28.96       1
Name: EU_sales, Length: 307, dtype: int64

0.00    10514
0.02      741
0.01      706
0.03      546
0.04      397
        ...
3.14        1
2.73        1
3.18        1
3.63        1
0.97        1
Name: JP_sales, Length: 244, dtype: int64

0.00    6601
0.01    3464
0.02    1618
0.03     926
0.04     654
        ...
2.11       1
7.53       1
1.21       1
1.79       1
0.93       1
Name: Other_sales, Length: 155, dtype: int64

70.0    256
71.0    254
75.0    245
78.0    240
73.0    238
       ...
20.0      3
21.0      1
17.0      1
22.0      1
13.0      1
Name: Critic_Score, Length: 82, dtype: int64

tbd    2424
7.8     324
8       290
8.2     282
8.3     254
       ...
1.1       2
1.9       2
9.6       2
0         1
9.7       1
Name: User_Score, Length: 96, dtype: int64

E       3990
T       2961
M       1563
E10+    1420
EC         8
K-A        3
RP         3
AO         1
Name: Rating, dtype: int64

**Schlussfolgerungen**

Wir können sehen, dass die Spalte mit Informationen zum Erscheinungsjahr das falsche Format hat. Die Jahreszahl kann nur eine Ganzzahl sein. Die Daten in der Spalte Kritikerpunktzahl enthalten eine Null nach dem Dezimalkomma. Offensichtlich sind diese Schätzungen ganze Zahlen. Die Daten in der Benutzerbewertungsspalte sind im Objektformat, das keine Berechnungen zulässt. Eine kleine Anzahl von Zeilen enthält keine Informationen über das Erscheinungsjahr des Spiels, Titel und Genre. Eine beträchtliche Datenmenge hat Nullwerte in den Spalten Critic_Score, User_Score, Rating.

Wir können sehen, dass die größte Anzahl von Werten in der Spalte User_Score tbd ist, was bedeutet, dass die Daten definiert werden müssen.

## Datenvorverarbeitung

In [11]:
# Wir werden die Anzahl der Duplikate mit einer Reihe von Methoden zählen data.duplicated().sum().
print(data.duplicated().sum())

0

In [12]:
# Wir werden die Spaltennamen ersetzen (Kleinbuchstaben).
data.columns = map(str.lower, data.columns)

In [13]:
# Wir werden die Zeilen entfernen, in denen der Name und das Erscheinungsjahr des Spiels fehlen.
data.dropna(subset = ['year_of_release'], inplace = True)
data.dropna(subset = ['name'], inplace = True)

In [14]:
# Wir werden die Abkürzung tbd durch NaN ersetzen.
data['user_score'] = pd.to_numeric(data['user_score'], errors='coerce')

In [15]:
# Wir werden die fehlenden Werte in den Spalten „critic_score“ und „user_score“ durch den Median nach Genretyp ersetzen.
for genre in data['genre'].unique():
    median = data.loc[data['genre'] == genre, 'critic_score'].median()
    data.loc[(data['genre'] == genre) & (data['critic_score'].isna()), 'critic_score'] = median

    median = data.loc[data['genre'] == genre, 'user_score'].median()
    data.loc[(data['genre'] == genre) & (data['user_score'].isna()), 'user_score'] = median

In [16]:
# Wir konvertieren Datentypen.
data = data.astype({ "year_of_release": "int", "critic_score": "int"})

In [17]:
# Wir werden den Gesamtumsatz in allen Regionen berechnen und in eine separate Spalte schreiben.
data['total_sales'] = data['na_sales'] + data['eu_sales'] + data['jp_sales'] + data['other_sales']

In [18]:
# Mal sehen was passiert.
display(data.head())
data.info()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76,8.0,E,82.54
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,69,7.7,NaN,40.24
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82,8.3,E,35.52
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80,8.0,E,32.77
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,74,7.8,NaN,31.38

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16444 entries, 0 to 16714
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16444 non-null  object
 1   platform         16444 non-null  object
 2   year_of_release  16444 non-null  int64
 3   genre            16444 non-null  object
 4   na_sales         16444 non-null  float64
 5   eu_sales         16444 non-null  float64
 6   jp_sales         16444 non-null  float64
 7   other_sales      16444 non-null  float64
 8   critic_score     16444 non-null  int64
 9   user_score       16444 non-null  float64
 10  rating           9768 non-null   object
 11  total_sales      16444 non-null  float64
dtypes: float64(6), int64(2), object(4)
memory usage: 1.6+ MB

**Schlussfolgerungen**

Keine Duplikate gefunden. Wir haben den Datentyp in den Spalten year_of_release geändert, weil das Jahr wird nur durch eine Ganzzahl angegeben, und der Kritiker_Wert seit Beim Studium der erhaltenen Daten stellten sie fest, dass die Bewertung der Kritiker immer als ganze Zahl ausgedrückt wird.

Wir haben Zeilen mit fehlenden Daten entfernt, was die Ergebnisse der Analyse nicht wesentlich beeinflussen kann.

Eine beträchtliche Datenmenge hat Nullwerte in den Spalten Critic_Score, User_Score, Rating. Wir werden diese Zeilen nicht entfernen. Wir haben die Mittelwerte und Mediane für die angegebenen Spalten berechnet. Diese Indikatoren unterscheiden sich geringfügig, daher wurde in beiden Fällen der Median gewählt, um die Nullwerte auszufüllen.

Die größte Anzahl von Werten in der Spalte User_Score ist tbd. Tatsächlich bedeutet dies keine Daten, daher wurde die angegebene Abkürzung durch NaN ersetzt.

Wir haben die Gesamtumsätze in allen Regionen berechnet und in einer eigenen Spalte erfasst.